name: Build on macOS Intel

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build-macos-intel:
        runs-on: macos-13
        steps:
        - name: Checkout code
          uses: actions/checkout@v4
        
        - name: Install GStreamer and llvm
          run: |
            brew install gstreamer gst-plugins-base gst-plugins-good gst-plugins-bad gst-plugins-ugly
            brew install llvm

        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '20'
            cache: 'pnpm'
        
        - name: Set up pnpm
          uses: pnpm/action-setup@v4
          with:
            version: 'latest'
        
        - name: Build SyncFlow Publisher
          run: |
            cd syncflow-publisher
            pnpm install
            pnpm tauri build
      
